@font-face {
    font-family: 'scripty';
    src: url(../fonts/brush-script.TTF);
}
@font-face {
    font-family: 'pixi';
    src: url(../fonts/pixel.ttf) format('truetype');
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.contenedor-global{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;	
	height: 600px;
	border:1px solid green;
}
.contenedor-global-juego{	
	position: relative;
	flex:2;
	height: 100%;
	padding:2% 2%;
	border:1px solid red;
}
.contenedor-global-data{
position: relative;
flex:1;
height: 100%;
-border:1px solid blue;
}
.contenedor-juego{	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	background-color: #45D680;
	border:1px solid yellow;
}
.contenedor-juego header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	background-color: #D34BEF;
	-background-color: #1f63da;
	border:1px solid orange;
}

.title-app{
font-family: 'scripty';
margin-left: 5%;
color:#EDE848;
-color: #ff00d2;
font-size: 32px;
}
.menu-responsive{
	
	color:white;
	width: 10%;
	max-height: 70px;
	background-color: #9048F7;
	padding:2% 4%;
	margin-right: 5%;
	
}
.contenedor-display{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	border:1px solid blue;
}
.contenedor-score{
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;	
	color:white;
	border:1px solid blue;
}
.contenedor-score span{
	align-self: center;
	font-family: 'pixi';
	font-size: 18px;
	color:white;
}
.pad-clicker{
	
	display: flex;	
	position: relative;
	width: 100%;
	height: 250px;
	bottom: 0px;
	justify-content: center;
	border:1px solid violet;
}
.caja-clicker{
	width: 200px;
	height: 200px;
	align-self: center;

	-border:1px solid #dfdd23;
}
.caja-clicker #clicker{			
			width: 200px;
			height: 200px;
			-margin-left: 25%;
			font-size: 20px;	
			-align-self: center;		
			background-color: #EDDD4C;
			border-radius: 100%;
			border:none;
			-border:1px solid blue;
}
.contenedor-pad-acciones{		
	position: absolute;
	width: 30%;
	display: flex;
	height: 100%;
	-padding:2% 3%;
	right: 5%;
	-justify-content: center;
	-border:1px solid red;
}
ul{
	list-style: none;
	width: 100%;
}
ul li {
	display: block;
	float:left;
	width: 100%;
	margin-bottom: 10px;
}
button#next_1{
	width: 60px;
	height: 60px;
	margin-left: 20%;
	margin-top: 15%;	
}
button#next_2{}
button#next_3{margin-left: 60%;}
button#next_4{}
button#next_5{
	background-color: #00F72E;
	margin-left: 20%;
}
 button.acciones{
 display: block;
 float:left;	
	width: 30px;
	height: 30px;	
	border-radius: 100%;
	margin-left: 50%;
	border:none;
	background-color: #EF4343;
}

@media screen and (max-width: 900px) and (min-width:350px) {
	*{
		box-sizing: border-box;
		margin:0;
		padding: 0;
	}	
	.contenedor-global{	
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;	
	border:1px solid green;
}

.menu-responsive{	
	color:white;
	width: 16%;
	background-color: #9048F7;
	padding:4% 6%;
	margin-right: 5%;
	
}
.contenedor-display{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;	
	justify-content: flex-start;

}
.contenedor-score{
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;	
	color:white;
	border:1px solid blue;
}
.contenedor-score span{
	
}
.pad-clicker{
	position: absolute;
	display: flex;
	width: 100%;
	height: 250px;
	bottom: 0;
	border:1px solid violet;
}
.caja-clicker{
	width: 150px;
	height: 150px;	

	-border:1px solid #dfdd23;
}

.caja-clicker #clicker{			
			width: 170px;
			height: 170px;
			margin-left: -10%;
			font-size: 20px;	
			align-self: center;		
			background-color: #EDDD4C;
			border-radius: 100%;
			-border:1px solid blue;
}

	button#next_1{
	width: 50px;
	height: 50px;
	margin-left: 20%;
	margin-top: 25%;	
}
button#next_3{
margin-left:57%;
}
button#next_5{
	margin-top: -5%;
}
}